
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/htdocs/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea
/htdocs/data/
/htdocs/test*
/htdocs/logs*
